extends ./../layout/main

block content 
    div.app-body-content
        if message === 1 
            div.alert.alert-success A Proposta foi inserida com êxito! 
        if message === 3 
            div.alert.alert-danger Ocorreu um erro ao tentar buscar as propostas!           
        if message === 4 
            div.alert.alert-success A Proposta foi excluída com êxito! 
        if message === 5 
            div.alert.alert-danger Ocorreu um erro ao tentar excluir a proposta!    

        h3 Propostas Cadastradas
            table.table.table-striped
                thead                    
                    tr
                        th Cliente
                        th Cnpj
                        th Endereço
                        th E-mail
                        th Telefone
                        th Ações
                tbody 
                    each proposal in proposals
                        tr 
                            td= proposal.proposal_number + " / " + proposal.client
                            td= proposal.document
                            td= proposal.address + " / " + proposal.city
                            td= proposal.email
                            td= proposal.phone
                            td
                                a.btn.btn-dark.btn-items(href="proposal/view/"+proposal._id, target="_blank") Ver                                
                                form.btn-items(action="/proposal/" + proposal._id + "?_method=DELETE", method="POST")
                                    button.btn.btn-danger(type="submit") Excluir 


                    
