extends ./../layout/main

block content 
    div.app-body-content
        div.app-container-forms
            h3 Cadastrar Nova Proposta
                h5 Dados do Cliente
                    form(action="/proposal/create", method="post")
                        div.column-forms
                            div.form-group.mg-top-10
                                input.form-control(
                                    type="text", 
                                    name="client", 
                                    placeholder="Nome do Cliente", 
                                    required)
                            div.form-group.mg-top-10
                                input.form-control(
                                    type="text", 
                                    name="document", 
                                    placeholder="Digite o CNPJ") 
                            div.form-group 
                                input.form-control(
                                    type="text", 
                                    name="address", 
                                    placeholder="Endereço do Cliente")        
                            div.form-group 
                                input.form-control(
                                    type="text", 
                                    name="city", 
                                    placeholder="Cidade", 
                                    required) 
                            div.form-group
                                input.form-control(
                                    type="text", 
                                    name="state", 
                                    size="4",
                                    placeholder="Estado", 
                                    required)

                        div.column-forms
                            div.form-group.mg-top-10
                                input.form-control(
                                    type="text", 
                                    name="contact", 
                                    placeholder="Digite o nome de um contato")
                            div.form-group
                                input.form-control(
                                    type="text", 
                                    name="email", 
                                    placeholder="Digite um e-mail para contato") 
                            div.form-group 
                                input.form-control(
                                    type="text", 
                                    name="phone", 
                                    placeholder="Digite o telefone (11)99999-9999", 
                                    required)        
                            div.form-group 
                                input.form-control(
                                    type="text", 
                                    name="phone2", 
                                    placeholder="Digite o telefone (11)99999-9999")        
                            div.form-group 
                                input.form-control(
                                    type="text", 
                                    name="responsible_techinician", 
                                    placeholder="Responsável Técnico")  
                        
                        h5 Dados da Proposta            
                        div.container  
                            div.form-group
                                label.small-labels(for="value") Valor R$
                                    input.form-control(
                                        type="text", 
                                        name="value", 
                                        id="value", 
                                        required)
                            div.form-group 
                                label.small-labels(for="form_payment") Forma de Pagamento
                                    input.form-control(
                                        type="text", 
                                        name="form_payment", 
                                        id="form_payment")
                            div.form-group 
                                label.small-labels(for="delivery_time") Tempo de Entrega
                                    input.form-control(
                                        type="text", 
                                        name="delivery_time", 
                                        id="delivery_time", 
                                        value="De 15 a 30 dias")
                            div.form-group 
                                label.small-labels(for="proposal_validity") Validade da Proposta
                                    input.form-control(
                                        type="text", 
                                        name="proposal_validity", 
                                        id="proposal_validity", 
                                        value="45 Dias")            
                            div.form-group
                                label.small-labels(for="proposal_number") Número da Proposta
                                input.form-control(
                                    type="text", 
                                    name="proposal_number",                                     
                                    id="proposal_number",                                      
                                    required, 
                                    value=""+proposalNumber+"")//- inserir concatenação do ultimo número vindo do banco  
                                    span Número da Proposta
                            div.form-group
                                label.small-labels.font-weight-bold(for="items") Items da Proposta
                                br
                                button.btn.btn-primary.btn-items(type="button", id="addItem", alt="Adicionar Items") +
                                button.btn.btn-primary.btn-items(type="button", id="rmItem", alt="Remover Items") - 
                                br
                                br
                                div#items-content
                                    input.form-control.col-md-12(
                                        type="text", 
                                        name="proposal_details_items", 
                                        id="proposal_details_items", 
                                        placeholder="Digite o Item aqui")
                                    br 
                                h5.font-weight-bold Quantidade e medida de Sombreadores
                                table.table 
                                    thead
                                        tr 
                                            th Quantidade
                                            th Comprimento
                                            th Largura
                                            th Altura
                                            th Cor
                                            th 
                                                button.btn.btn-primary.btn-items-small(type="button", id="addSombra", alt="Adicionar Items") +
                                            th     
                                                button.btn.btn-primary.btn-items-small(type="button", id="rmSombra", alt="Remover Items") - 
                                    tbody#items-list-content
                                        tr 
                                            td 
                                                input.form-control(type="text", name="amount") 
                                            td 
                                                input.form-control(type="text", name="length")
                                            td
                                                input.form-control(type="text", name="width")
                                            td
                                                input.form-control(type="text", name="height")
                                            td(colspan="2")
                                                select.form-control(name="color")
                                                    option(value="azul" selected) Azul
                                                    option(value="amarelo") Amarelo
                                                    option(value="verde") Verde
                                                    option(value="vermelho") Vermelho
                                                    option(value="prata") Prata                                                
                                
                        button.btn.btn-success.col-md-12.font-weight-bold(type="submit") Cadastrar Proposta
                        script(src="http://localhost:3000/assets/scripts/proposal.js")                        