html 
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="icon" href="http://localhost:3000/assets/images/favicon.png" type="image/png" sizes="16x16")
        title RR Propostas
    body
        nav.navbar.navbar-expand-lg.rr-navbar-top.fixed-top
            a.navbar-brand(href="http://localhost:3000") 
                img(
                    src="http://localhost:3000/assets/images/logo.png",
                    width="60", 
                    height="60")
            button.navbar-toggler(type="button",
                                  data-toggle="collapse", 
                                  data-target="#navbarNav", 
                                  aria-controls="navbarNav", 
                                  aria-expanded="false", 
                                  aria-label="Toggle navigation")
                span.navbar-toggler-icon  
            div.collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                    li.nav-item(active) 
                        img(src="http://localhost:3000/assets/images/user-icon.svg", 
                            width="24", 
                            height="24")
                        a.nav-link(href="/users") Usuários                             
                            span.sr-only (current)      
                    li.nav-item.dropdown
                        img(src="http://localhost:3000/assets/images/doc-icon.svg", 
                            width="20", 
                            height="20")
                        a.nav-link.dropdown-toggle#navbarDropdownMenuLink(
                            href="#", 
                            data-toggle="dropdown", 
                            aria-expanded="false") Propostas
                            div.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                                a.dropdown-item(href="/proposal/new") Nova Proposta
                                     img(src="http://localhost:3000/assets/images/add-icon.svg", 
                                            width="14", 
                                            height="14")  
                                a.dropdown-item(href="/proposal") Consultar Propostas
                                    img(src="http://localhost:3000/assets/images/search-icon.svg", 
                                            width="14", 
                                            height="14")  
            div.logout-content 
                img(src="http://localhost:3000/assets/images/sign-out-alt-solid.svg", 
                    width="24", 
                    height="24") 
                a.btn-link(href="/login/logout") Sair                    
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/fontawesome.min.css")
        link(rel="stylesheet" href="http://localhost:3000/assets/css/style.css")

        block content